
<div id="Popup_Background" class="hidden"></div>
<div id="Dialog_Window" class="hidden">
  <div class="Dialog">

    <div class="Window_Header">
      <a href="#"><h3 class="Window_Title"> Corvallis Yard Sales </h3> </a>
      <button type="button" class="Close_Button">&times;</button>
    </div>

    <div class="Window_body">
      <div class="input_element">
        <label for="text_input">Description</label>
        <textarea id="text_input"></textarea>
      </div>
      <div class="input_element">
        <label for="Date_Input">When Or $ </label>
        <input type="text" id="Date_Input">
      </div>

      <div class="input_element">
        <img for="Img_URL">URL</img>
        <input type="url" id="Img_URL" placeholder="be sure to include http:// at the start">
      </div>
    </div>

    <div class="Window_Footer">
      <button type="button" class="Window_Cancel_Button">Cancel</button>
      <button type="button" class="Window_Accept_Button">Post</button>
    </div>
  </div>
</div>
