<article class= "Listing_Box" "{{listTag}}">
  <div class="Type_Icon">
    <i class="fa fa-tag"></i>
  </div>
  <!-- this is where the text is displayed to the user -->
  <div class="Description_Field">
    <p class="Text_On_Screen">
      {{text}}
      <img class="Thumbnail" src="{{imgUrl}}" />
    </p>
    <p class="Sale_Ammount">
      <a href="#">{{amount}}</a>
    </p>
  </div>
</article>
