<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      <title></title>

      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
      <!-- change  href="style.css" to  href="/style.css" when rdy to serve with server -->
      <link rel="stylesheet" href="style.css" media="screen">

    </head>
    <body>

      {{{body}}}

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js" charset="utf-8"></script>
    <script src="postTemplate.js" charset="utf-8"></script>
    <script src="index.js" charset="utf-8"></script>
    <footer id="footer" role="contentinfo">

  </footer>
</html>
